<%- include('layouts/header'); %>
  <section class="section hero is-warning">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="title is-1">ชั้นเรียนสัปดาห์ <%= week %></div>
        </div>
        <div class="columns">
          <div class="image column is-3by2">
            <iframe id="classVideo" class="has-ratio" width="480" height="320" src="" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="columns">
          <div class="table-container column is-one-third">
            <table class="table is-bordered is-fullwidth">
              <thead>
                <tr>
                  <th>ชื่อวิดีโอ</th>
                  <th>ลิ้งค์</th>
                </tr>
              </thead>
              <tbody>
                <% if (vidData.length != 0) {
                  vidData.forEach(function(data) {
                %>
                  <tr>
                    <td><%= data.video_title %></td>
                    <td><button onclick="changeVideo(`<%= data.video_URL %>`)">ลิ้งค์</button></td>
                  </tr>
                <% }) %>
                <% } else { %>
                    <tr>
                      <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="table-container column is-one-third">
            <table class="table is-bordered is-fullwidth">
              <thead>
                <tr>
                  <th>เอกสารประกอบการสอน</th>
                </tr>
              </thead>
              <tbody>
                <% if (fileData.length != 0) {
                  fileData.forEach(function(data) {
                %>
                  <tr>
                    <td><a href="/download/<%= data.file_src %>"><%= data.file_title %></a></td>
                  </tr>
                <% }) %>
                <% } else { %>
                    <tr>
                      <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="table-container column is-one-third">
            <table class="table is-bordered is-fullwidth">
              <thead>
                <tr>
                  <th>ไฟล์โปรแกรมตัวอย่าง</th>
                </tr>
              </thead>
              <tbody>
                <% if (projData.length != 0) {
                  projData.forEach(function(data) {
                %>
                  <tr>
                    <td><a href="/download/<%= data.project_src %>"><%= data.project_title %></a></td>
                  </tr>
                <% }) %>
                <% } else { %>
                    <tr>
                      <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="columns">
          <div class="title is-3">คำอธิบาย</div>
        </div>
        <div class="columns">
          <div class="message column"><%= desc %></div>
        </div>
      </div>
    </div>
  </section>

  <script text="javascript">
    function changeVideo(url) {
      document.getElementById('classVideo').setAttribute('src', url);
    }
  </script>
<%- include('layouts/footer'); %>