<%- include('layouts/header'); %>
  <% if (isAdmin) { %>
    <section class="hero is-success">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="title is-1">แก้ไขแบบฝึกหัดสัปดาห์ <%= week %></div>
          </div>
          <form action="/editEx/<%= week %>" enctype="multipart/form-data" method="POST">
            <div class="title is-3">เขียนคำอธิบาย</div>
            <div class="control">
              <textarea name="excomment" id="excomment" class="textarea" placeholder="Write Description"><%= desc %></textarea>
            </div>
            <div class="title is-3 mt-5">อัพโหลดรูป ที่นี่</div>
            <div class="block">
              <input type="file" accept="image/*" name="exImage" multiple onchange="preview_image(event)">
                  <div class="card">
                    <div class="card image">
                      <div class="image is-128x128">
                        <img id="output_image">
                      </div>
                    </div>
                  </div>
            </div>
            <div class="title is-3 mt-5">เพิ่มลิงค์ Github แบบฝึกหัด </div>
            <input class="input" type="text" placeholder="Exercise Github Link" name="exGitlink" id="exGitlink">
            <div class="title is-3 mt-5">เพิ่มลิงค์ Github เฉลยแบบฝึกหัด </div>
            <input class="input" type="text" placeholder="Solution Github Link" name="solGitlink" id="solGitlink">
            <p class="mt-3">ตั้งวันที่แสดงลิงค์เฉลยแบบฝึกหัด : <input type="date" class="Date" id="gitDate" name="gitDate"></p>
            <div class="title is-3 mt-5">Add Exercise</div>
            <div class="table-container">
              <table class="table is-bordered" id="ExTable1">
                <thead>
                      <tr>
                        <th>เพิ่มแถว</th>
                        <th>เพิ่มหัวข้อแบบฝึกหัด</th>
                        <th>เพิ่มคำอธิบายแบบฝึกหัด</th>
                        <th>เพิ่มคะแนน</th>
                        <th>ลบแถว</th>
                      </tr>
                </thead>
                <tbody>
                  <% if (quesData.length != 0) {
                    quesData.forEach(function(data) {
                  %>
                    <tr>
                      <td><button type="button" onclick="addRows()">+</button></td>
                      <td><textarea name="extitle[]" id="" cols="30" rows="3"><%= data.question_title %></textarea></td>
                      <td><textarea name="exdesc[]" id="" cols="30" rows="3"><%= data.question_description %></textarea></td>
                      <td><textarea name="exscore[]" id="" cols="30" rows="3"><%= data.question_score %></textarea></td>
                      <td><button type='button' onclick='deleteRows(this)'>Delete</button></td>
                    </tr>
                  <% }) %>
                  <% } else { %>
                    <tr>
                      <td><button type="button" onclick="addRows()">+</button></td>
                      <td><textarea name="extitle[]" id="" cols="30" rows="3"></textarea></td>
                      <td><textarea name="exdesc[]" id="" cols="30" rows="3"></textarea></td>
                      <td><textarea name="exscore[]" id="" cols="30" rows="3"></textarea></td>
                      <td></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div align="center"><button type="submit" class="button is-link mt-5 mb-5">บันทึก</button> <a href="/home" class="button is-danger mt-5 mb-5">ยกเลิก</a></div>
          </form>
        </div>
      </div>
    </section>
  <% } %>

      <script type="text/javascript">
            function preview_image(event) 
            {
                let reader = new FileReader();
                reader.onload = function()
                {
                    let output = document.getElementById('output_image');
                    output.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            }

            function addRows() {
                let table = document.getElementById("ExTable1");
                let rowCount = table.rows.length;
                let row = table.insertRow(-1);
                let cell0 = row.insertCell(0);
                let cell1 = row.insertCell(1);
                let cell2 = row.insertCell(2);
                let cell3 = row.insertCell(3);
                let cell4 = row.insertCell(4);
                cell1.innerHTML = "<textarea name='extitle[]' cols='30' rows='3'></textarea>";
                cell2.innerHTML = "<textarea name='exdesc[]' id='' cols='30' rows='3'></textarea>";
                cell3.innerHTML = "<textarea name='exscore[]' cols='30' rows='3'></textarea>";
                cell4.innerHTML = "<button type='button' onclick='deleteRows(this)'>Delete</button>"
            }

            function deleteRows(r) {
                let i = r.parentNode.parentNode.rowIndex;
	            document.getElementById("ExTable1").deleteRow(i);
            }

            document.getElementById('exGitlink').value = "<%= exlink %>";
            document.getElementById('solGitlink').value = "<%= anslink %>";
      </script>
<%- include('layouts/footer'); %>