<%- include('layouts/header'); %>
      <section class="section hero is-warning">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="title is-1"><%= title %></div>
            </div>
            <form action="/editnews/<%= newsId %>" method="post">
              <textarea name="newscontent" id="editor"><%- content %></textarea>
              <div align="center"><button id="submit" class="button is-link mt-5 mb-5" type="submit">บันทึก</button> <a href="/home" class="button is-danger mt-5 mb-5">ยกเลิก</a></div>
            </form>
          </div>
        </div>
      </section>
<%- include('layouts/footer'); %>