<%- include('layouts/header'); %>
      <% if (isAdmin) { %>
        <section class="hero is-success">
          <div class="hero-body">
            <div class="container">
              <div class="columns">
                <div class="title is-1">แก้ไขชั้นเรียนสัปดาห์ <%= week %></div>
              </div>
              <form action="/editClass/<%= week %>" enctype="multipart/form-data" method="POST">
                <div class="title is-3">เพิ่มลิงค์วิดีโอ ที่นี่</div>
                <div class="columns">
                  <div class="table-container column is-one-third">
                    <table class="table is-bordered" id="VideoTable1">
                        <thead>
                            <tr>
                              <th>เพิ่มแถว</th>
                              <th>เพิ่มชื่อวิดีโอ</th>
                              <th>เพิ่มลิงค์วิดีโอ</th>
                              <th>ลบแถว</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% if (vidData.length != 0) {
                            vidData.forEach(function(data) {
                          %>
                            <tr>
                              <td><button type="button" onclick="addRows()">+</button></td>
                              <td><textarea name="videoName[]" id="" cols="30" rows="3"><%= data.video_title %></textarea></td>
                              <td><textarea name="videoUrl[]" id="" cols="30" rows="3"><%= data.video_URL %></textarea></td>
                              <td><button type='button' onclick='deleteRows(this)'>Delete</button></td>
                            </tr>
                          <% }) %>
                          <% } else { %>
                            <tr>
                              <td><button type="button" onclick="addRows()">+</button></td>
                              <td><textarea name="videoName[]" id="" cols="30" rows="3"></textarea></td>
                              <td><textarea name="videoUrl[]" id="" cols="30" rows="3"></textarea></td>
                              <td></td>
                            </tr>
                          <% } %>
                        </tbody>
                    </table>
                  </div>
                  <div class="table-container column is-one-third">
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                              <th>ชื่อไฟล์</th>
                              <th>ลบไฟล์</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% if (fileData.length != 0) {
                            fileData.forEach(function(data) {
                          %>
                            <tr>
                              <td><textarea name="fileName[]" id="" cols="30" rows="3"><%= data.file_title %></textarea></td>
                              <td><a href="/delFile1/<%= data.file_src %>">Delete</a></td>
                            </tr>
                          <% }) %>
                          <% } else { %>
                            <tr>
                              <td colspan="7">No Data Found</td>
                            </tr>
                          <% } %>
                        </tbody>
                    </table>
                  </div>
                  <div class="table-container column is-one-third">
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                              <th>ชื่อไฟล์</th>
                              <th>ลบไฟล์</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% if (projData.length != 0) {
                            projData.forEach(function(data) {
                          %>
                            <tr>
                              <td><textarea name="projName[]" id="" cols="30" rows="3"><%= data.project_title %></textarea></td>
                              <td><a href="/delFile2/<%= data.project_src %>">Delete</a></td>
                            </tr>
                          <% }) %>
                          <% } else { %>
                            <tr>
                              <td colspan="7">No Data Found</td>
                            </tr>
                          <% } %>
                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="title is-3">เพิ่มเอกสารประกอบการสอน ที่นี่ (หมายเหตุ : ชื่อไฟล์ต้องไม่มีเว้นวรรค และ เครื่องหมายพิเศษ)</div>
                <div id="" class="file">
                  <label class="file-label">
                    เลือกไฟล์ที่จะอัพโหลด : (นามสกุลไฟล์ doc หรือ docx หรือ pdf) 
                  </label>
                  <input type="file" name="classDocs" multiple>
                </div>
                <div class="title is-3 mt-5">เพิ่มไฟล์ชั้นเรียนตัวอย่าง ที่นี่ (หมายเหตุ : ชื่อไฟล์ต้องไม่มีเว้นวรรค และ เครื่องหมายพิเศษ)</div>
                <div id="" class="file">
                  <label class="file-label">
                    เลือกไฟล์ที่จะอัพโหลด : (นามสกุลไฟล์ zip หรือ rar) 
                  </label>
                  <input type="file" name="classProj" multiple>
                </div>
                <div class="title is-3 mt-5">เขียนคำอธิบาย</div>
                <div class="control">
                  <textarea name="classDesc" id="" class="textarea"><%= desc %></textarea>
                </div>
                <div align="center"><button type="submit" class="button is-link mt-5 mb-5">บันทึก</button> <a href="/home" class="button is-danger mt-5 mb-5">ยกเลิก</a></div>
              </form>
            </div>
          </div>
        </section>
      <% } %>

      <script>
          function addRows() {
            let table = document.getElementById("VideoTable1");
            let rowCount = table.rows.length;
            let row = table.insertRow(-1);
            let cell0 = row.insertCell(0);
            let cell1 = row.insertCell(1);
            let cell2 = row.insertCell(2);
            let cell3 = row.insertCell(3);
            cell1.innerHTML = "<textarea name='videoName[]' cols='30' rows='3'></textarea>";
            cell2.innerHTML = "<textarea name='videoUrl[]' cols='30' rows='3'></textarea>";
            cell3.innerHTML = "<button type='button' onclick='deleteRows(this)'>Delete</button>";
          }

          function deleteRows(r) {
            let i = r.parentNode.parentNode.rowIndex;
	          document.getElementById("VideoTable1").deleteRow(i);
          }
      </script>
<%- include('layouts/footer'); %>