<%- include('layouts/header'); %>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="title is-1">แบบฝึกหัดสัปดาห์ <%= week %></div>
        </div>
        <div class="columns">
          <div class="title is-3">คำอธิบาย</div>
        </div>
        <div class="columns">
          <div class="message column"><%= desc %></div>
        </div>
        <div class="columns">
          <% if (imgData.length != 0) {
            imgData.forEach(function(data) {
          %>
          <figure class="image column is-3by2">
            <img src="/<%= data.image_title %>">
          </figure>
          <% }) %>
          <% } else { %>
            <figure class="image column is-128x128">
              <img src="/128x128.png">
            </figure>
          <% } %>
        </div>
        <div class="columns">
          <div class="link column mt-5">
            <a href="<%= exlink %>">ลิ้งค์ Github แบบฝึกหัด</a><br>
            <a href="<%= anslink %>">ลิ้งค์ Github เฉลยแบบฝึกหัด</a>
          </div>
        </div>
        <div class="columns">
          <div class="table-container column mt-5">
            <table class="table is-bordered">
              <thead>
                <tr>
                  <th>หัวข้อแบบฝึกหัด</th>
                  <th>คำอธิบาย</th>
                  <th>คะแนน</th>
                </tr>
              </thead>
              <tbody>
                <% if (quesData.length != 0) {
                  quesData.forEach(function(data) {
                %>
                  <tr>
                    <td><%= data.question_title %></td>
                    <td><%= data.question_description %></td>
                    <td><%= data.question_score %></td>
                  </tr>
                <% }) %>
                <% } else { %>
                    <tr>
                      <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('layouts/footer'); %>