<%- include('layouts/header'); %>
  <% if (isAdmin || !isAdmin) { %>
      <section class="hero is-success">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="title is-1">Give Score</div>
            </div>
            <form action="/givescore" method="POST">
                <div class="select">
                    <select name="week">
                      <option value="">สัปดาห์</option>
                      <% if (weekData.length != 0) {
                        weekData.forEach(function(data) {
                      %>
                        <option value="<%= data.week_id %>">สัปดาห์ที่ <%= data.week %></option>
                      <% }) %>
                      <% } else { %>
                        <option value="">Not found</option>
                      <% } %>
                    </select>
                </div>
                <div class="select">
                    <select name="section">
                      <option value="">Section</option>
                      <% if (sectionData.length != 0) {
                        sectionData.forEach(function(data) {
                      %>
                        <option value="<%= data.section_id %>"><%= data.section_title %></option>
                      <% }) %>
                      <% } else { %>
                        <option value="">Not found</option>
                      <% } %>
                    </select>
                </div>
                <input type="submit" value="Choose">
            </form>
            <div class="columns">
              <div class="table-container column mt-5">
                <table class="table is-bordered">
                    <thead>
                        <tr>
                          <th>รหัสนักศึกษา</th>
                          <th>สถานะ</th>
                          <th>ให้คะแนน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (userData.length != 0) {
                            var i = 0;
                            if (scoreData.length != 0) {
                              userData.forEach(function(data) {
                                scoreData.forEach(data2 => {
                                  if (data2.student_id == data.student_id) {
                                    i++;
                                  } else {
                                    i = i + 0;
                                  }
                                })
                        %>
                            <tr>
                                <td><%= data.student_id %></td>
                                <td><%= i %>/<%= questionData.length %></td>
                                <td><a href="/givepage/<%= data.student_id %>/<%= questionData[0].exercise_id %>">ให้คะแนน</a></td>
                            </tr>
                        <% i = 0; }) } else { userData.forEach(data => { %>
                            <tr>
                                <td><%= data.student_id %></td>
                                <td><%= scoreData.length %>/<%= questionData.length %></td>
                                <td><a href="/givepage/<%= data.student_id %>/<%= questionData[0].exercise_id %>">ให้คะแนน</a></td>
                            </tr>
                        <% }); %>
                        <% } %>
                        <% } else { %>
                            <tr>
                                <td colspan="7">No Data Found</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
  <% } %>
<%- include('layouts/footer'); %>