<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
</head>
<body>
  <% if (userlevel != "admin") { %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="/itkmitl.png" width="112" height="28">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
          <a href="/home" class="navbar-item">
            Home
          </a>
    
          <a href="/progress" class="navbar-item">
            Progress
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <p>Welcome <%= username %></p>
          </div>
          <div class="navbar-item">
            <a href="/logout" class="button is-danger">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="title is-1">News</div>
      <div class="table-container">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>News title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a>Title 1</a></td>
            </tr>
            <tr>
              <td><a>Title 2</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="title is-2">Class Material</div>
      <div class="table-container">
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th>Class Week</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 1; i <= 15; i++) { %>
              <tr>
                <td><a href="/classWeek/<%= i; %>">Class Week <%= i; %></a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="title is-2 mt-5">Exercise</div>
      <div class="table-container">
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th>Exercise Week</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 1; i <= 15; i++) { %>
              <tr>
                <td><a href="/exWeek/<%= i; %>">Exercise Week <%= i; %></a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  <% } else { %>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="/itkmitl.png" width="112" height="28">
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasic" class="navbar-menu">
        <div class="navbar-start">
          <a href="/home" class="navbar-item">
            Home
          </a>

          <a href="/semeter" class="navbar-item">
            เลือกปีการศึกษาและเทอม
          </a>
    
          <a href="/progress" class="navbar-item">
            Progress for admin
          </a>

          <a href="/givescore" class="navbar-item">
            Give Score
          </a>

          <a href="/studentlist" class="navbar-item">
            Student List
          </a>

          <a href="/register" class="navbar-item">
            User Management
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <p>Welcome <%= username %></p>
          </div>

          <div class="navbar-item">
              <a href="/logout" class="button is-danger">
                Logout
              </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="title is-1">Manage News</div>
      <div class="table-container">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>News title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a>Title 1</a></td>
            </tr>
            <tr>
              <td><a>Title 2</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div align="center"><a href="/editnews" class="button is-primary">Edit News</a></div>
      <div class="title is-2">Manage Class Material</div>
      <div class="table-container">
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th>Class Week</th>
              <th align="center">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 1; i <= 15; i++) { %>
              <tr>
                <td><a href="/classWeek/<%= i; %>">Class Week <%= i; %></a></td>
                <td align="center"><a href="/editClass/<%= i; %>">Edit</a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="title is-2 mt-5">Manege Exercise</div>
      <div class="table-container">
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th>Exercise Week</th>
              <th align="center">Edit</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 1; i <= 15; i++) { %>
              <tr>
                <td><a href="/exWeek/<%= i; %>">Exercise Week <%= i; %></a></td>
                <td align="center"><a href="/editEx/<%= i; %>">Edit</a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>
  <% } %>
    
</body>
</html>