<%- include('layouts/header'); %>
  <% if (isAdmin || !isAdmin) { %>
    <section class="hero is-warning">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="title is-1">ดูคะแนน</div>
          </div>
          <form action="/progress" method="post">
            <div class="select">
              <select name="week">
                <option value="">สัปดาห์</option>
                <% if (weekData.length != 0) {
                  weekData.forEach(function(data) {
                %>
                  <option value="<%= data.week_id %>">สัปดาห์ที่ <%= data.week %></option>
                <% }) %>
                <% } else { %>
                  <option value="">Not found</option>
                <% } %>
              </select>
            </div>
            <input type="submit" value="ดูคะแนน">
          </form>
          <div class="columns">
            <div class="table-container column mt-5">
              <table class="table is-bordered">
                  <thead>
                      <tr>
                          <th>รหัสนักศึกษา</th>
                          <th>แบบฝึกหัด</th>
                          <th>คะแนน</th>
                          <th>ความคิดเห็นของอาจารย์ผู้สอน</th>
                          <th>ความคิดเห็นของ TA</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% if (scoreData.length != 0) {
                            var title = '';
                            var score = 0;
                            var comment = '';
                            if (quesData.length != 0) {
                              scoreData.forEach(function(data) {
                                quesData.forEach(data2 => {
                                  if (data.question_id == data2.question_id) {
                                    title = data2.question_title;
                                    score = data.score;
                                    comment = data.instructor_comment;
                                  } else {
                                    // title = 'No Data';
                                    // score = 0;
                                    // comment = 'No Data';
                                  }
                                })
                        %>
                            <tr>
                              <td><%= data.student_id %></td>
                              <td><%= title %></td>
                              <td><%= data.score %></td>
                              <td><%= data.instructor_comment %></td>
                              <td><%= data.TA_comment %></td>
                            </tr>
                        <% i = ''; score = 0; comment = ''; }) } else { %>
                            <tr>
                              <td colspan="7">No Data Found</td>
                            </tr>
                        <% } %>
                        <% } else { %>
                            <tr>
                              <td colspan="7">No Data Found</td>
                            </tr>
                        <% } %>
                  </tbody>
              </table>
            </div>
          </div>
          <% if (isAdmin) { %>
            <div align="center"><a href="/export/<%= week %>" class="button is-primary mt-5">Export to CSV</a> <a href="/exportall" class="button is-danger mt-5">Export all to CSV</a></div>
          <% } %>
        </div>
      </div>
    </section>
  <% } else { %>
  <% } %>
    
<%- include('layouts/footer'); %>