<%- include('layouts/header'); %>
  <% if (isAdmin) { %>
    <section class="hero is-success">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="title is-1">รายชื่อนักศึกษา</div>
          </div>
          <form action="/studentlist" method="POST">
            <div class="select">
              <select name="year1">
                <option value="">ปีการศึกษา</option>
                <% var date = new Date(); %>
                <% var year = date.getFullYear() + 543; %>
                  <% for (let i = 0; i <= 10; i++) { %>
                    <option value="<%= year; %>"><%= year; %></option>
                    <% year++; %>
                  <% } %>
              </select>
            </div>
            <div class="select">
              <select name="semeter" id="semeter">
                <option value="">เทอม</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="select">
              <select name="sec" id="sec">
                <option value="">เซค</option>
                <% if (sectionData.length != 0) {
                  sectionData.forEach(function(data) {
                %>
                  <option value="<%= data.section_id %>"><%= data.section_title %></option>
                <% }) %>
                <% } else { %>
                  <option value="">Not Data Found</option>
                <% } %>
              </select>
            </div>
            <input type="submit" value="View">
          </form>
          <div class="columns">
            <div class="table-container column mt-5">
              <table class="table is-bordered">
                  <thead>
                      <tr>
                        <th>รหัสนักศึกษา</th>
                        <th>ชื่อ</th>
                        <th>นามสกุล</th>
                        <th>อีเมล์</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <% if (userData.length != 0) {
                          userData.forEach(function(data) {
                      %>
                          <tr>
                            <td><%= data.student_id %></td>
                            <td><%= data.firstname %></td>
                            <td><%= data.lastname %></td>
                            <td><%= data.email %></td>
                          </tr>
                      <% }) %>
                      <% } else { %>
                          <tr>
                            <td colspan="7">No Data Found</td>
                          </tr>
                      <% } %>
                  </tbody>
              </table>
            </div>
          </div>
          <div class="columns">
            <div class="title is-3">อัพโหลดรายชื่อนักศึกษา (หมายเหตุ : ไฟล์ต้องบันทึกเป็น csv UTF-8 เท่านั้น)</div>
          </div>
            <form action="/uploadStudent" enctype="multipart/form-data" method="POST">
              <div class="select">
                <select name="year2">
                  <option value="">ปีการศึกษา</option>
                  <% var date = new Date(); %>
                  <% var yearDate = date.getFullYear() + 543; %>
                  <% for (let i = 0; i <= 10; i++) { %>
                    <option value="<%= yearDate; %>"><%= yearDate; %></option>
                    <% yearDate++; %>
                  <% } %>
                </select>
              </div>
              <div class="select">
                <select name="semeter">
                  <option value="">เทอม</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
              <div class="select">
                <select name="sec">
                  <option value="">Section</option>
                  <% if (sectionData.length != 0) {
                        sectionData.forEach(function(data) {
                  %>
                    <option value="<%= data.section_id %>"><%= data.section_title %></option>
                  <% }) %>
                  <% } else { %>
                    <option value="">Not Data Found</option>
                  <% } %>
                </select>
              </div>
              <div class="file">
                <input type="file" name="studentList" id="studentList">
              </div>
              <input type="submit" value="Upload">
            </form>
        </div>
      </div>
    </section>
  <% } %>
<%- include('layouts/footer'); %>